Django~=5.1.8
djangorestframework-simplejwt~=5.3.1
djangorestframework~=3.15.1
PyPDF2
python-docx~=1.1.2
spacy~=3.8.5
celery~=5.5.0
redis
django-cors-headers
psycopg2-binary
google-generativeai
pymupdf4llm~=0.0.20
requests~=2.32.3
pydantic
marshmallow~=3.26.1
django-environ~=0.12.0
python-decouple
drf-yasg